/* Navbar container */
.navbar {
  background-color: #FFFFFF;
  height: 100px;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between; /* Ensure title and right-side are spaced */
  align-items: center;
  position: fixed; /* Fixed position to stay on top */
  width: calc(100% - 250px); /* Adjust based on the width of the sidebar */
  left: 210px; /* Sidebar width */
  top: 0;
  z-index: 1000; /* Ensure it stays above other elements */
}

/* Left-side container for the page title */
.left-side {
  display: flex;
  justify-content: flex-start;
  flex: 1;
}

.page-title {
  font-size: 24px;
  font-weight: bold;
  margin-left: 50px;
  color: black;
}

/* Right-side container */
.right-side {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/* Button styles */
.add-customer {
  padding: 10px 15px;
  background-color: #6ECF9D;
  color: black;
  font-size: medium;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  margin-right: 80px;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
}


.add-customer:hover {
  background-color: #1abc9c;
}

/* User Info dropdown */
.user-info {
  position: relative;
  cursor: pointer;
  color: black;
  font-size: 18px;
  margin-right: 70px;
}

.user-info span {
  display: inline-block;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  color: #333;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 180px;
  border-radius: 4px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.dropdown-menu li {
  padding: 10px;
  cursor: pointer;
}

.dropdown-menu li:hover {
  background-color: #f4f4f4;
}

.user-info.open .dropdown-menu {
  opacity: 1;
  transform: translateY(0);
}

@media (max-width: 1024px) {
  .navbar {
    height: 80px;
    width: calc(100% - 200px); /* Adjusted for a potentially smaller sidebar */
    left: 160px; /* Adjusted for smaller screen sidebar width */
  }

  .page-title {
    font-size: 18px;
    margin-left:30px ;
  }

  .add-customer {
    padding: 8px 12px;
    margin-right: 50px;
  }

  .user-info {
    font-size: 15px;
    margin-right: 50px;
  }

  .dropdown-menu {
    width: 140px;
  }
}
